body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-flow: column;
}

h1 {
  font-family: 'PT Serif', serif;
}

h4 {
}

.column {
  display: flex;
  flex-flow: column;
  // width: 50%;
  flex: 1 1 45%;

  &--wide {
    flex: 1 1 65%;
  }
}

.row {
  display: flex;
  flex-flow: row nowrap;
}

.header {
  // flex: 2 1 2;
}

#list_of_sites {
  padding: 0;
  margin: 0;

  li {
    cursor: pointer;
    list-style-type: none;
    background-color: #bbd9f7;
    border-bottom: solid 2px #eee;
    margin: 5px;

    &:first-of-type {
      margin-top: 0;
    }

    &:hover {
      transform: scale(1.05);
      transition: 0.5s;
    }
  }
}

.main {
  // display: flex;
  // flex-flow: row nowrap;

  // flex: 2 1 auto;

  /* Map of Chicago */
  .map {
    position: sticky;
    right: 50px;
    .chart {
      cursor: default;

      /* Polygons drawn to depict zipcodes in Chicago */
      .zipcode {
        stroke: #fff;
        fill: #4286f4;
        stroke-width: 1px;
        transition: 1s;

        &.cover {
          fill: #ffd000;
          transition: 3s;

        }

        &:hover {
          fill: #ffd000;
          stroke: #00ddff;
          stroke-width: 3px;
        }
      }

      /* circles depict sites */
      .site {
        cursor: default;

        &:hover, &.active {
          fill: #ffd000;
          transition: 1s;
        }
      }
    }
  }
}


/* Site shown on map */
.site{
  &-info {
    // margin: 30px;
    padding: 30px;
    background-color: #DDECFB; // #bbd9f7;
    // flex: 1 1 1;
  }

  &-title {
    font-family: 'PT Serif', serif;
  }

  &-investigator {}

  &-img {}

  &-address {
    font-family: 'PT Serif', serif;
  }

  &-description {}

}
/* Util Classes */

.hidden {
  display: none;
}
