body {
    font-family: 'Roboto', sans-serif;
    display: flex; 
}

h1 {
  font-family: 'PT Serif', serif;
}

h4 {
}

/* Map of Chicago */
.chart {
  cursor: default;
}

/* Polygons drawn to depict zipcodes in Chicago */
.zipcode {
  stroke: #fff;
  fill: #4286f4;
  stroke-width: 1px;
}

.zipcode:hover {
  fill: #ffd000;
  stroke: #00ddff;
  stroke-width: 3px;
}


/* Site shown on map */
.site-info {
    margin: 30px;
    padding: 30px;
    background-color: #bbd9f7;
}

.site-title {
    font-family: 'PT Serif', serif;
}

.site-investigator {
}

.site-img {

}

.site-address {
    font-family: 'PT Serif', serif;
}

.site-description {

}

/* Util Classes */

.hidden {
  display: none;
}
